#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color:rgb(29, 29, 29);
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 80px;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
